<html>
  <head>
    <meta charset="utf8">
    <title>Teams Card</title>
    <style>
      html, body {
        margin: 0mm;
        padding: 0mm;
        font-size: 14;
        -webkit-print-color-adjust: exact;
        box-sizing: border-box;
      }
      p {
        margin: 0px;
        padding: 0px;
      }
      .page {
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        page-break-after: auto;
        overflow: hidden;

        text-align: justify;
      }

      .value {
        min-height: 15px;
        text-align: center;
        border: 0px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #444;
      }
      .value-fio {
        display: inline-block;
        min-width: 95%;
      }
      .value-date {
        display: inline-block;
        min-width: 40%;
      }
      .value-serial {
        display: inline-block;
        min-width: 20%;
      }

      .box-team {
        margin: 0mm;
        padding: 0mm;
        position: absolute;
        top: 190mm;
        left: 80mm;
        width: 100mm;
        height: 10mm;

        font-weight: bold;
        font-size: 6mm;
      }
      .box-text1 {
        text-align: left;
        font-size: 5mm;
      }
      .box-text2 {
        margin: 0mm;
        padding: 0mm;
        position: absolute;
        top: 190mm;
        left: 80mm;
        width: 100mm;
        height: 10mm;

        font-weight: bold;
        font-size: 5mm;
      }
      .box-members {
        margin: 0mm;
        padding: 0mm;
        position: absolute;
        text-align: center;
        top: 205mm;
        left: 80mm;
        width: 110mm;
        height: 38mm;

        font-weight: bold;
        font-size: 5mm;
      }
      .label {
        font-size: 4mm;
        font-weight: normal;
      }
      .center {
        text-align: center;

      }
      .indent {
        text-indent: 10px;
      }
    </style>
  </head>
  <body>
    <% teams.forEach( function(team) { %>
      <div class="page">

          <p class="center">СОГЛАСИЕ</p>
          <p class="center">на обработку персональных данных</p>
          <br/>

          </br>
          Я,
          <div class="value value-fio"><%- team.coach.name_rus %></div></br>
          дата рождения: <div class="value value-date">
            <%- team.coach.passport.birthDate %>
          </div>
          проживающий по адресу:
          <div class="value value-fio">
            <%- team.coach.address %>
          </div><br/>
          паспорт: серия <div class="value value-serial">
            <%- team.coach.passport.series %>
          </div> № <div class="value value-serial">
            <%- team.coach.passport.number %>
          </div> дата выдачи:<div class="value value-serial">
          <%- team.coach.passport.issuedDate %>
          </div>
          <br/><p align="left">наименование органа, выдавшего документ:</p>
          <div class="value value-fio">
          <%- team.coach.passport.issued %></div>
          </br>
          в порядке и на условиях, определенных Федеральным законом от
          27 июля 2006 года № 152-ФЗ «О персональных данных», даю
          согласие оргкомитету десятой международной открытой
          олимпиады по программированию им. Т.Ф. Осиповского
          «Osipovsky Cup – 2017», на обработку моих персональных
          данных:
          <ul>
    <li> фамилия, имя, отчество;</li>
    <li> дата рождения;</li>
    <li> место рождения;</li>
    <li> cведения о гражданстве;</li>
    <li> реквизиты паспорта (серия, номер, дата выдачи, наименование выдавшего органа);</li>
    <li> адрес места жительства;</li>
    <li> номер телефона;</li>
          </ul>
    Настоящим даю согласие на совершение в
    вышеперечисленных целях следующих действий с моими
    персональными данными: сбор, запись, систематизация,
    накопление, хранение, уточнение посредством смешанной
    обработки.
    Согласие действует в течение 3-х месяцев.
  Я оставляю за собой право отозвать свое согласие
  посредством составления соответствующего письменного
  документа, который может быть направлен мной оргкомитету
  десятой международной открытой олимпиады по
  программированию им. Т.Ф. Осиповского «Osipovsky Cup – 2017»
  по почте заказным письмом с уведомлением о вручении либо
  вручен лично или через законного представителя под расписку
  уполномоченному представителю оргкомитета.
  В случае получения моего письменного заявления об отзывенастоящего согласия на обработку персональных данных,
  оргкомитету десятой международной открытой олимпиады по
  программированию им. Т.Ф. Осиповского «Osipovsky Cup – 2017»
  обязан уничтожить мои персональные данные, но не ранее
  срока, необходимого для достижения целей обработки моих
  персональных данных, связанных с выполнением
  государственными органами возложенных на них
  законодательством Российской Федерации и Владимирской
  области функций, полномочий и обязанностей.
  Я ознакомлен(а) с правами субъекта персональных данных,
  предусмотренными главой 3 Федерального закона от 27 июля
  2006 года № 152-ФЗ «О персональных данных». Всё
  вышеизложенное мною прочитано, мне понятно и
  подтверждается собственноручной подписью.
  <br/><br/>
  <pre>
       ________________ / ________________                    ________________</br>
            (дата)         (расшифровка)                          (подпись)</code>
        </pre>
      </div>
      <% team.members.forEach( function(member) { %>
        <div class="page">

            <p class="center">СОГЛАСИЕ</p>
            <p class="center">на обработку персональных данных</p>
            <br/>

            </br>
            Я,
            <div class="value value-fio"><%- member.name_rus %></div></br>
            дата рождения: <div class="value value-date">
              <%- member.passport.birthDate %>
            </div>
            проживающий по адресу:
            <div class="value value-fio">
              <%- member.address %>
            </div><br/>
            паспорт: серия <div class="value value-serial">
              <%- member.passport.series %>
            </div> № <div class="value value-serial">
              <%- member.passport.number %>
            </div> дата выдачи:<div class="value value-serial">
            <%- member.passport.issuedDate %>
            </div>
            <br/><p align="left">наименование органа, выдавшего документ:</p>
            <div class="value value-fio">
            <%- member.passport.issued %></div>
            </br>
            в порядке и на условиях, определенных Федеральным законом от
            27 июля 2006 года № 152-ФЗ «О персональных данных», даю
            согласие оргкомитету десятой международной открытой
            олимпиады по программированию им. Т.Ф. Осиповского
            «Osipovsky Cup – 2017», на обработку моих персональных
            данных:
            <ul>
      <li> фамилия, имя, отчество;</li>
      <li> дата рождения;</li>
      <li> место рождения;</li>
      <li> cведения о гражданстве;</li>
      <li> реквизиты паспорта (серия, номер, дата выдачи, наименование выдавшего органа);</li>
      <li> адрес места жительства;</li>
      <li> номер телефона;</li>
            </ul>
      Настоящим даю согласие на совершение в
      вышеперечисленных целях следующих действий с моими
      персональными данными: сбор, запись, систематизация,
      накопление, хранение, уточнение посредством смешанной
      обработки.
      Согласие действует в течение 3-х месяцев.
    Я оставляю за собой право отозвать свое согласие
    посредством составления соответствующего письменного
    документа, который может быть направлен мной оргкомитету
    десятой международной открытой олимпиады по
    программированию им. Т.Ф. Осиповского «Osipovsky Cup – 2017»
    по почте заказным письмом с уведомлением о вручении либо
    вручен лично или через законного представителя под расписку
    уполномоченному представителю оргкомитета.
    В случае получения моего письменного заявления об отзывенастоящего согласия на обработку персональных данных,
    оргкомитету десятой международной открытой олимпиады по
    программированию им. Т.Ф. Осиповского «Osipovsky Cup – 2017»
    обязан уничтожить мои персональные данные, но не ранее
    срока, необходимого для достижения целей обработки моих
    персональных данных, связанных с выполнением
    государственными органами возложенных на них
    законодательством Российской Федерации и Владимирской
    области функций, полномочий и обязанностей.
    Я ознакомлен(а) с правами субъекта персональных данных,
    предусмотренными главой 3 Федерального закона от 27 июля
    2006 года № 152-ФЗ «О персональных данных». Всё
    вышеизложенное мною прочитано, мне понятно и
    подтверждается собственноручной подписью.
    <br/><br/>
    <pre>
         ________________ / ________________                    ________________</br>
              (дата)         (расшифровка)                          (подпись)</code>
          </pre>
        </div>
    <% }); %>
    <% }); %>
  </body>
</html>
