<html>
  <head>
    <meta charset="utf8">
    <title>Teams Card</title>
    <style>
      html, body {
        margin: 0mm;
        padding: 0mm;
        font-size: 12;
        -webkit-print-color-adjust: exact;
        box-sizing: border-box;
      }
      p {
        margin: 0px;
        padding: 0px;
      }
      .page {
        position: relative;
        height: 100.015mm;
        width: 70mm;
        display: block;
        page-break-after: auto;
        overflow: hidden;
        border: 1px;
        border-style: solid;
        border-color: #000;
      }
      .box-organization {
        margin: 0mm;
        padding: 0mm;
        position: absolute;
        top: 15mm;
        left: 10mm;
        width: 55mm;
        height: 20mm;


        font-size: 4mm;
      }
      .box-team {
        margin: 0mm;
        padding: 0mm;
        position: absolute;
        top: 35mm;
        left: 10mm;
        width: 55mm;
        height: 25mm;

        font-weight: bold;
        font-size: 6mm;
      }
      .box-member {
        margin: 0mm;
        padding: 0mm;
        position: absolute;
        top: 60mm;
        left: 10mm;
        width: 55mm;
        height: 25mm;

        font-weight: bold;

        vertical-align: text-bottom;
      }
      table {
        width: 100%;
        height: 100%;
      }
      tr td {
        vertical-align: bottom;
        text-align: center;
      }
      .a1 {
        font-size: 5mm;
        font-family:georgia;
      }
      .a2 {
        font-size: 5mm;
      }
      .a3 {
        font-size: 4mm;
      }
      .label {
        font-size: 4mm;
        font-weight: normal;
      }
    </style>
  </head>
  <body>
    <% teams.forEach( function(team) { %>
      <div class="page">
        <div class="box-organization" style="valign: bottom;">
          <table>
            <tr><td class="a1"><%- team.coach.name_eng %></td></tr>
          </table>
        </div>
        <div class="box-team">
          <table>
            <tr><td class="a2"><%- team.team_name %></td></tr>
          </table>
        </div>
        <div class="box-member">
          <table>
            <tr><td class="a3">Coach</td></tr>
          </table>
        </div>
      </div>
      <% team.members.forEach( function(member) { %>
        <div class="page">
          <div class="box-organization" style="valign: bottom;">
            <table>
              <tr><td class="a1"><%- member.name_eng %></td></tr>
            </table>
          </div>
          <div class="box-team">
            <table>
              <tr><td class="a2"><%- team.team_name %></td></tr>
            </table>
          </div>
          <div class="box-member">
            <table>
              <tr><td class="a3">Contenstant</td></tr>
            </table>
          </div>
        </div>
      <% }); %>
    <% }); %>
  </body>
</html>
