<html>
  <head>
    <meta charset="utf8">
    <title>Teams Card</title>
    <style>
      html, body {
        margin: 0mm;
        padding: 0mm;
        font-size: 12;
        -webkit-print-color-adjust: exact;
        box-sizing: border-box;
      }
      p {
        margin: 0px;
        padding: 0px;
      }
      .page {
        position: relative;
        height: 297mm;
        width: 210mm;
        display: block;
        page-break-after: auto;
        overflow: hidden;
      }
      .box-organization {
        margin: 0mm;
        padding: 0mm;
        position: absolute;
        top: 170mm;
        left: 80mm;
        width: 100mm;
        height: 15mm;

        font-size: 4mm;
      }
      .box-team {
        margin: 0mm;
        padding: 0mm;
        position: absolute;
        top: 190mm;
        left: 80mm;
        width: 100mm;
        height: 10mm;

        font-weight: bold;
        font-size: 6mm;
      }
      .box-members {
        margin: 0mm;
        padding: 0mm;
        position: absolute;
        top: 205mm;
        left: 80mm;
        width: 110mm;
        height: 38mm;

        font-weight: bold;
        font-size: 6mm;
      }
      .label {
        font-size: 4mm;
        font-weight: normal;
      }
    </style>
  </head>
  <body>
    <% teams.forEach( function(team) { %>
    <div class="page">
      <div class="box-organization">
        <%- team.organization.name_eng %>
      </div>

      <div class="box-team">
        <span class="label">Team: </span> <%- team.team_name %>
      </div>

      <div class="box-members">
        <% team.members.forEach( function(member) { %>
          <%- member.name_eng %> <br/>
        <% }); %>
        <% if (team.coach.name_eng) {%>
          <%- team.coach.name_eng %> <span class="label">(coach)</span>
        <% }; %>
      </div>
    </div>
    <% }); %>
  </body>
</html>
