<html>
  <head>
    <meta charset="utf8">
    <title>Teams Card</title>
    <style>
      html, body {
        margin: 0mm;
        padding: 0mm;
        font-size: 12;
        -webkit-print-color-adjust: exact;
        box-sizing: border-box;
      }
      p {
        margin: 0px;
        padding: 0px;
      }
      .page {
        position: relative;
        height: 297mm;
        width: 210mm;
        display: block;
        page-break-after: auto;
        overflow: hidden;
      }
      .box-organization {
        margin: 0mm;
        padding: 0mm;
        position: absolute;
        top: 220mm;
        left: 35mm;
        width: 140mm;
        height: 10mm;
        text-align: center;

        font-weight: bold;
        font-size: 5mm;
      }
      .box-team {
        margin: 0mm;
        padding: 0mm;
        position: absolute;
        top: 175mm;
        left: 35mm;
        width: 140mm;
        height: 10mm;
        text-align: center;

        font-weight: bold;
        font-size: 8mm;
      }
      .box-member {
        margin: 0mm;
        padding: 0mm;
        position: absolute;
        top: 185mm;
        left: 30mm;
        width: 150mm;
        height: 40mm;

        font-weight: bold;
        font-size: 6mm;
        text-align: center;

      }
      .label {
        font-size: 4mm;
        font-weight: normal;
      }
    </style>
  </head>
  <body>
    <% teams.forEach( function(team) { %>
        <div class="page">
          <div class="box-team">
            <%- team.team_name %>
          </div>
          <div class="box-member">
            <% team.members.forEach( function(member) { %>
              <%- member.name_eng %><br/>
            <% }); %>
            <%- team.coach.name_eng %> (Coach)<br/>
          </div>
          <div class="box-organization">
            <%- team.organization.name_eng %>
          </div>
        </div>
    <% }); %>
  </body>
</html>
