<% layout('/layout/page') -%>
<% block('title', 'Osipovsky-Cup'); -%>

  <div class="blog-post">

    <div class="panel panel-default">
      <div class="panel-body">
        <p class="lead">Добро пожаловать, <b><%=user.get('username')%></b>!</p>
      </div>

      <div class="panel panel-primary" style="margin: 0px;">
        <div class="panel-heading">Команды:</div>

        <div class="panel-body">
          <form class="form" name="form-member" action="/admin/contest/gen_diploms" method="get">
            <ul class="list-group">
              <% teams.forEach( function(team) { %>
                  <li class="list-group-item">
                    <input type="checkbox" name="<%- team._id %>">
                    <%- team.team_name %>
                  </li>
                <% }); %>
            </ul>

            <button type="submit" class="btn btn-primary" style="width: 100%">
              Сгенирировать
            </button>
          </form>
        </div>
      </div>

    </div>
  </div>
