            <div class="panel panel-info">
              <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="/admin/users">Пользователи</a></li>
                  <li><a href="/admin/admins">Администраторы</a></li>
                  <li><a href="/admin/teams">Команды (root access)</a></li>
                </ul>
              </div>
            </div>
            <br/>
            <div class="panel panel-info">
              <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="/admin/teamcard">Карточки команд</a></li>
                  <li><a href="/admin/contest/certificate">Сгенерировать сертификаты</a></li>
                  <li><a href="/admin/contest/diploms">Сгенерировать дипломы</a></li>
                  <li><a href="/admin/contest/badge">Сгенерировать бейджи</a></li>
                  <li><a href="/admin/contest/agreements">Сгенерировать соглашения</a></li>
                </ul>
              </div>
            </div>
