              <div class="panel panel-primary">
                <div class="panel-heading">
                   <h3 class="panel-title"><%=user.get('username')%></h3>
                </div>

                <div class="panel-body">
                    <form name="form-logout" class="btn-group-vertical" style="width: 100%">
                      <a href="/dashboard" class="btn btn-default" role="button">Личный кабинет</a>
                      <button class="btn btn-default" type="submit" style="width: 100%">Выйти</button>
                    </form>
                    <script src="/js/auth/logout.js"></script>
                </div>
              </div>
