          <div class="row">
            <div class="col-xs-2  col-xs-offset-1 ">
              <div class="valign">
                <p>
                  <a href="http://www.vniisignal.ru/ru/" target="_blank">
                  <img src="/images/sponsors/signal.svg">
                  </a>
                </p>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="valign">
                <p>
                  <a href="http://vladbi.ru/" target="_blank">
                  <img src="/images/sponsors/bi.png">
                  </a>
                </p>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="valign">
                <p>
                  <a href="https://www.microsoft.com/ru-ru/" target="_blank">
                  <img src="/images/sponsors/microsoft.png">
                  </a>
                </p>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="valign">
                <p>
                  <a href="https://itnet33.ru/" target="_blank">
                  <img src="/images/sponsors/itnet.png">
                  </a>
                </p>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="valign">
                <p>
                  <a href="http://pkey-online.ru/" target="_blank">
                  <img src="/images/sponsors/pkgroup logo.png">
                  </a>
                </p>
              </div>
            </div>
          </div>
