        <div class="valign">
          <p><b>
            OSIPOVSKY CUP <br/>
            International Open Programming Contest<br/>
            named after T.F. Osipovsky
          </b></p>
        </div>
