              <div class="panel panel-primary">
                <div class="panel-heading">
                   <h3 class="panel-title">Личный кабинет:</h3>
                </div>

                <div class="panel-body text-center">
                   <a href="https://docs.google.com/forms/d/1nTAl-vftcFv8DjgrlsI4C3uUnA1LHyhbJw2xr8JuEz8/edit?usp=sharing" class="btn btn-info" target="blank">
                       Зарегистрировать команду
                   </a>
<!--                  <form class="form-signin" role="form" name="login-formm">
                    <div class="input-group" id="div-username">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input name="username" type="login" class="form-control" placeholder="Login" id="input-username" required autofocus>
                    </div>
                    <div class="input-group" id="div-password" style="margin: 2px 0px;">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                      <input name="password" type="password" class="form-control" placeholder="Password" id="input-password" required>
                    </div>

                    <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                        <a href="/registration" class="btn btn-info" role="button">Регистрация</a>
                      </div>
                      <div class="btn-group">
                        <button type="submit" class="btn btn-primary">Войти</button>
                      </div>
                    </div>
                  </form>
                  <script src="/js/auth/auth.js"></script>
-->
                </div>

              </div>
