            <div class="panel panel-info">
              <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="/">Главная</a></li>
                  <li><a href="/regulations">Регламент</a></li>
                  <li><a href="/hotels">Гостиницы</a></li>
                </ul>
              </div>
            </div>
