          <div class="sidebar-module">
            <% if (user) { %>
              <%-partial('dashboard-sidebar')%>
            <% } else { %>
              <%-partial('login-sidebar')%>
            <% }%>
          </div>

          <div class="sidebar-module">
            <%-partial('navbar')%>
          </div>

          <% if (user && user.isAdmin) { %>
            <div class="sidebar-module">
              <%-partial('admin_panel')%>
            </div>
          <% }%>
