html {
  position: relative;
  min-height: 100%;
}

#header {
  background-color: #242251;
  background-image: url("/images/logo.jpg");
  height: 130px;
  padding-left: 305px;
  background-size: 305px, 130px;
  background-repeat: no-repeat;
  margin: 0px -10px;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
div.valign {
  display: table;
  width: 100%;
  height: 100%;
}
div.valign p {
  display: table-cell;
  vertical-align: middle;
  text-align:center;
  color: #fff;
  font-size: large;
}

body {
  margin-bottom: 100px;
}

#footer {
  position: absolute;
  margin-top: auto;
  bottom: 0;
  height: 100px;
  background-color: #242251;
  margin: 0px -10px;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#footer .container{
  margin: 0px -5px;
  padding: 10px 10px;
  color: #fff;
}
#footer .row div{
height: 100%
}

#footer .row{
  height: 80px;
  margin: 0px 6%;
}

#footer .row .col-xs-2{
  height: 80px;
  padding: 0px 5px;
}

#footer .row .col-xs-2 p{
  height: 80px;
}

#footer .row .col-xs-2 .valign{
  background-color: #eee;
  border-radius: 3px;
}

#footer .row .col-xs-2 p img{
  max-height: 80px;
  max-width: 100%;
  align-self: center;
  padding: 5px;
}

.blog-main {
  padding: 0px 5px 5px;
  margin: 0px;
}
.blog-post {
  padding: 10px 5px;
  margin: 0 -5px -5px;
}

.blog-sidebar {
  padding: 0px 5px 10px;
  margin: 0px;
}
.sidebar-module {
  padding: 10px 5px 0px;
  margin: 0 -5px 0px;
}

.panel {
  margin-bottom: 0px;
}

.indent p{
  text-indent: 20px;
}

.panel-default .panel-heading{
  background-color: #E4E2F1;
}
.panel-default a{
  color: #242251;
}
.panel-default h2{
  color: #242251;
}

.center-text {
  text-align: center;
}

.panel-primary {
  border-color: #242251;
}
.panel-primary .panel-heading{
  background-color: #242251;
  border-color: #242251;
}
.panel-info {
  border-color: #242251;
}
.panel-info a{
  color: #242251;
}

.btn-info {
  border-color: #e4e2f1;
  color: #242251;
  background-color: #e4e2f1;
}
.btn-info:hover {
  border-color: #242251;
  background-color: #e4e2f1;
  color: #242251;
}
.btn-info:focus {
  border-color: #242251;
  background-color: #e4e2f1;
  color: #242251;
}
.btn-info:active, .btn-info.active {
  border-color: #242251 !important;
  background-color: #c4c2d1 !important;
  color: #242251 !important;
}

.btn-primary {
  background-color: #242251;
  border-color: #242251;
  color: #fff;
}
a.btn-primary {
  background-color: #242251;
  border-color: #242251;
  color: #fff;
}
.btn-primary:hover {
  border-color: #242251;
  background-color: #403d8d;
  color: #fff;
}
.btn-primary:focus {
  border-color: #242251;
  background-color: #403d8d;
  color: #fff;
  outline-color: #242251 !important;
}
.btn-primary:active, .btn-primary.active {
  border-color: #242251 !important;
  background-color: #201d6d !important;
  color: #fff !important;
  outline-color: #242251 !important;
}
.form-control:focus {
    border-color: #242251 !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 0 1px #242251, 0 0 8px #242251 !important;
    box-shadow: inset 0 0 1px #242251, 0 0 8px #242251 !important;
}
.well-map {
  padding: 0px;
}

.panel-carusel{
  border-radius: 10px;
}
.post-carusel {
  padding: 0px;
  margin: 0px;
}
.carousel{
  margin: 0px;
}
.carousel .item img{
  width: 100%;
}
.carousel .item{
  /*background: #333;*/
  text-align: center;
  /*height: 450px !important;*/
}
