<% layout('/layout/page') -%>
<% block('title', 'Admin/users'); -%>

  <!-- post -->
  <div class="blog-post">
    <div class="panel panel-default">
      <div class="panel-heading">Зарегистрированные пользователи:</div>

      <div class="panel-body" >
        <div class="list-group">
        <% users.forEach( function(user) { %>
          <a class="list-group-item" onclick="changeState('<%- user.id %>')" > <%- user.username %>
            <% if (user.isAdmin) { %>
              <span class="glyphicon glyphicon-ok pull-right"></span>
            <% } %>
          </a>
        <% }); %>
        </div>
      </div>

      <script type="text/javascript">
      function changeState(uid) {
        $.ajax({
          url: "/admin/admins/" + uid,
          method: "POST",
          data: null,
          complete: function() {
            $(":submit", form).button("reset");
          },
          statusCode: {
            200: function() {
              window.location.href = "/admin/admins";
            },
          }
        });
      }
      </script>

    </div>
  </div>
  <!-- post -->
