<% layout('/layout/page') -%>
<% if (flag == "edit") { %>
  <% block('title', 'Редактировать команду'); -%>
<% } else { %>
  <% block('title', 'Новая команда'); -%>
<% } %>

<div class="blog-post">
  <% if (flag == "add") { %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        Внимание! Для регистрации команды необходимо запонить и прикрепить скан согласия на обработку персональных данных тренера и всех участников!
        <a href="/files/Personal_data.pdf" target="_blank"><b>[Согласие.pdf]</b></a> <a class="btn btn-xs btn-danger" href="/dashboard/personaldata">прикрепить</a>
      </div>
    </div>
    <br/>
  <% } %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <% if (flag == "edit") { %>
        <h2 class="panel-title">Редактировать команду - <b><%- team.team_name %></b>:</h2>
      <% } else { %>
        <h2 class="panel-title">Регистрационая форма команды:</h2>
      <% } %>
    </div>

    <div class="panel-body">
      <form class="form" name="addteam-form">

        <div class="form-group" id="div-team_name">
          <label for="team_name">Название команды (англ.):</label>
          <input type="text" class="form-control" placeholder="KSTA#1" name="team_name" id="team_name" required autofocus <% if (flag == "edit") { %> value="<%- team.team_name %>" <% }%> >
        </div>

        <div class="form-group" id="div-team_IDE">
          <label for="team_IDE">IDE/Язык:</label>
          <input type="text" class="form-control" placeholder="VS/C++" name="team_IDE" id="team_IDE" required <% if (flag == "edit") { %> value="<%- team.team_IDE %>" <% }%> >
        </div>

        <label>Организация:</label>
        <div class="well">
          <div class="form-group">
            <label for="org_fullname">Полное название:</label>
            <textarea type="text"class="form-control" placeholder="Госудаственный университет ..." rows="3" name="org_fullname" id="org_fullname"><% if (flag == "edit") { %><%- team.organization.fullname %><% }%></textarea>
          </div>
          <div class="form-group">
            <label for="org_name">Сокращенное название:</label>
            <input type="text" class="form-control" placeholder="ГУ..." name="org_name" id="org_name" <% if (flag == "edit") { %> value="<%- team.organization.name %>" <% }%> >
          </div>
          <div class="form-group">
            <label for="org_name_eng">Название на англ. (для дипломов):</label>
            <input type="text" class="form-control" placeholder="Federal University..." name="org_name_eng" id="org_name_eng" <% if (flag == "edit") { %> value="<%- team.organization.name_eng %>" <% }%> >
          </div>
          <div class="form-group">
            <label for="org_address">Адрес:</label>
            <textarea type="text"class="form-control" placeholder="601900, Россия, Владимирская обл., г. Ковров, ул. Маяковского, 19/3" rows="3" name="org_address" id="org_address"><% if (flag == "edit") { %><%- team.organization.address %><% }%></textarea>
          </div>
          <div class="form-group">
            <label for="org_email">Email:</label>
            <input type="email" class="form-control" placeholder="example@example.ru" name="org_email" id="org_email" <% if (flag == "edit") { %> value="<%- team.organization.email %>" <% }%> >
          </div>
        </div>

        <label>Тренер:</label>
        <div class="well">
          <div class="form-group">
            <label for="coach_name_eng">Имя Фамилия (англ.):</label>
            <input type="text" class="form-control" placeholder="Ivan Ivanov" name="coach_name_eng" id="coach_name_eng" <% if (flag == "edit") { %> value="<%- team.coach.name_eng %>" <% }%> >
          </div>
          <div class="form-group">
            <label for="coach_name_rus">Фамилия Имя Отчество (рус.):</label>
            <input type="text" class="form-control" placeholder="Иванов Иван Иванович" name="coach_name_rus" id="coach_name_rus" <% if (flag == "edit") { %> value="<%- team.coach.name_rus %>" <% }%> >
          </div>
          <div class="form-group">
            <label for="coach_passport_issued">Дата рождения:</label>
            <input type="date" class="form-control" placeholder="01.01.1970" name="coach_passport_birthDate" id="coach_passport_birthDate" <% if (flag == "edit") { %> value="<%- team.coach.passport.birthDate %>" <% }%>>
          </div>
          <div class="form-group">
            <label for="coach_post">Должность:</label>
            <input type="text" class="form-control" placeholder="Доцент" name="coach_post" id="coach_post" <% if (flag == "edit") { %> value="<%- team.coach.post %>" <% }%> >
          </div>
          <div class="form-group">
            <label for="coach_address">Адрес (прописка):</label>
            <textarea type="text"class="form-control" placeholder="601900, Россия, Владимирская обл., г. Ковров, ул. Маяковского, 19/3" rows="3" name="coach_address" id="coach_address"><% if (flag == "edit") { %><%- team.coach.address %><% }%></textarea>
          </div>
          <div class="form-group">
            <label for="coach_email">Email:</label>
            <input type="email" class="form-control" placeholder="example@example.ru" name="coach_email" id="coach_email" <% if (flag == "edit") { %> value="<%- team.coach.email %>" <% }%> >
          </div>
          <div class="form-group">
            <label for="coach_phone">Телефон:</label>
            <input type="text" class="form-control" placeholder="+7(800)555-35-35" name="coach_phone" id="coach_phone" <% if (flag == "edit") { %> value="<%- team.coach.phone %>" <% }%> >
          </div>

          <label>Паспорт:</label>
          <div class="well" style="background-color: #ddd;">
            <div class="form-horizontal form-group">
              <label for="coach_passport_series" class="col-sm-1 control-label">Серия:</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="17 10" name="coach_passport_series" id="coach_passport_series" <% if (flag == "edit") { %> value="<%- team.coach.passport.series %>" <% }%>>
              </div>

              <label for="coach_passport_number" class="col-sm-1 control-label">Номер:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="000000" name="coach_passport_number" id="coach_passport_number" <% if (flag == "edit") { %> value="<%- team.coach.passport.number %>" <% }%>>
              </div>
            </div><br/><br/>

            <div class="form-group">
              <label for="coach_passport_issued">Выдан:</label>
              <textarea type="text"class="form-control" placeholder="ОУФМС..." rows="2" name="coach_passport_issued" id="coach_passport_issued"><% if (flag == "edit") { %><%- team.coach.passport.issued %><% }%></textarea>
            </div>
            <div class="form-group">
              <label for="coach_passport_issuedDate">Дата выдачи:</label>
              <input type="date" class="form-control" placeholder="01.01.1970" name="coach_passport_issuedDate" id="coach_passport_issuedDate" <% if (flag == "edit") { %> value="<%- team.coach.passport.issuedDate %>" <% }%>>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-8 col-sm-4" style="padding: 0px;">
            <button type="submit" class="btn btn-primary" style="width: 100%">
              <% if (flag == "edit") { %>
                Сохранить
              <% } else { %>
                Создать
              <% } %>
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  var role = "<%- flag %>";
<% if (flag == "edit") { %>
  var TID = "<%- _tid %>";
<% } %>
</script>
<script src="/js/root/team.js" type="text/javascript"></script>
