<html>
  <head>
    <meta charset="utf8">
    <title>Teams Card</title>
    <style>
      html, body {
        margin: 0mm;
        padding: 0;
        font-size: 12;
        -webkit-print-color-adjust: exact;
        box-sizing: border-box;
      }
      p {
        margin: 0px;
        padding: 0px;
      }
      .page {
       position: relative;
       height: 100%;
       width: 100%;
       display: block;
       page-break-after: auto;
       overflow: hidden;
     }
      table {
        margin: 0px;
        border-collapse: collapse;
        width: 100%;
      }
      .border {
        border: 1px;
        border-style: solid;
        border-color: #000;
      }
      tr.border_lr {
        border: 0px;
        border-left: 1px;
        border-right: 1px;
        border-style: solid;
        border-color: #000;
      }
      tr.border_bottom {
        border: 0px;
        border-left: 1px;
        border-right: 1px;
        border-bottom: 1px;
        border-style: solid;
        border-color: #000;
      }
      tr.border_top {
        border: 0px;
        border-left: 1px;
        border-right: 1px;
        border-top: 1px;
        border-style: solid;
        border-color: #000;
      }
      tr td {
        font-size: 8;
        padding: 1px;
      }
      tr td.head{
        text-align: right;
        width: 25mm;
      }

      .center {
        text-align: center;
      }
      .value {
        min-height: 10px;
        text-align: center;
        border: 0px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #444;
      }
      .value-passport-series {
        display: inline-block;
        min-width: 10mm;
      }
      .value-date {
        display: inline-block;
        min-width: 15mm;
      }
      .value-issued {
        display: inline-block;
        min-width: 128mm;
      }
      .value-label {
        position: relative;
        top:-1px;
      }
      tr td.left {
        min-width: 3mm;
        max-width: 3mm;
      }
      .box_rotate {
        word-wrap: normal;
        -webkit-transform: translate(0px, 24px) rotate(-90deg);
      }
    </style>
  </head>
  <body>
    <% teams.forEach( function(team) { %>
    <div class="page">
      <p class="center">КАРТОЧКА КОМАНДЫ <b><%- team.team_name %></b></p>
      <table>
        <tr class="border_top">
          <td rowspan="7" class="border left center box_rotate"> <b>Организация</b> </td>
          <td class="head">
            Полное название:
          </td>
          <td>
              <div class="value"><%- team.organization.fullname %></div>
          </td>
        </tr>

        <tr class="border_lr">
          <td class="head">
            Название (англ.):
          </td>
          <td>
              <div class="value"><%- team.organization.name_eng %></div>
          </td>
        </tr>

        <tr class="border_lr">
          <td class="head">
            Сокращенное:
          </td>
          <td>
              <div class="value"><%- team.organization.name %></div>
          </td>
        </tr>

        <tr class="border_lr">
          <td class="head">
            Адресс:
          </td>
          <td>
              <div class="value"><%- team.organization.address %></div>
          </td>
        </tr>

        <tr class="border_lr">
          <td class="head">
            Электронный адресс:
          </td>
          <td>
              <div class="value"><%- team.organization.email %></div>
          </td>
        </tr>

        <tr class="border_lr">
          <td class="head">
            Название команды:
          </td>
          <td>
              <div class="value"><b><%- team.team_name %></b></div>
          </td>
        </tr>

        <tr class="border_lr border_bottom">
          <td class="head">
            IDE/Язык:
          </td>
          <td>
              <div class="value"><b><%- team.team_IDE %></b></div>
          </td>
        </tr>

        <tr class="border_lr">
          <td rowspan="9" class="border left center box_rotate"> <b>Тренер</b> </td>
          <td class="head">
            FL:
          </td>
          <td>
              <div class="value"><%- team.coach.name_eng %></div>
          </td>
        </tr>

        <tr class="border_lr">
          <td class="head">
            ФИО:
          </td>
          <td>
              <div class="value"><%- team.coach.name_rus %></div>
          </td>
        </tr>

        <tr class="border_lr">
          <td class="head">
            Дата рождения:
          </td>
          <td>
              <div class="value"><%- team.coach.passport.birthDate %></div>
          </td>
        </tr>

        <tr class="border_lr">
          <td class="head">
            Должность:
          </td>
          <td>
              <div class="value"><%- team.coach.post %></div>
          </td>
        </tr>

        <tr class="border_lr">
          <td class="head">
            Адресс:
          </td>
          <td>
              <div class="value"><%- team.coach.address %></div>
          </td>
        </tr>

        <tr class="border_lr">
          <td class="head">
            Электронный адресс:
          </td>
          <td>
              <div class="value"><%- team.coach.email %></div>
          </td>
        </tr>

        <tr class="border_lr">
          <td class="head">
            Телефон:
          </td>
          <td>
              <div class="value"><%- team.coach.phone %></div>
          </td>
        </tr>

        <tr class="border_lr">
          <td class="head">
            Паспорт:
          </td>
          <td class="issued">
            <span class="value-label">серия </span><div class="value value-passport-series"><%- team.coach.passport.series %></div>
            <span class="value-label">№</span><div class="value value-passport-series"><%- team.coach.passport.number %></div>
            <span class="value-label">дата выдачи: </span><div class="value value-date"><%- team.coach.passport.issuedDate %></div>
          </td>
        </tr>
        <tr class="border_bottom">
          <td colspan="2">
            <span class="value-label">выдан: </span><font class="value value-issued"><%- team.coach.passport.issued %></font>
          </td>
        </tr>

        <% team.members.forEach( function(member, i) { %>
          <tr class="border_lr">
            <td rowspan="9" class="border left center box_rotate"> <b>Участник-<%- i+1 %></b> </td>
            <td class="head">
              FL:
            </td>
            <td>
                <div class="value"><%- member.name_eng %></div>
            </td>
          </tr>

          <tr class="border_lr">
            <td class="head">
              ФИО:
            </td>
            <td>
                <div class="value"><%- member.name_rus %></div>
            </td>
          </tr>

          <tr class="border_lr">
            <td class="head">
              Дата рождения:
            </td>
            <td>
                <div class="value"><%- member.passport.birthDate %></div>
            </td>
          </tr>

          <tr class="border_lr">
            <td class="head">
              Адресс:
            </td>
            <td>
                <div class="value"><%- member.address %></div>
            </td>
          </tr>

          <tr class="border_lr">
            <td class="head">
              Факультет:
            </td>
            <td class="issued">
              <div class="value value-date"><%- member.faculty %></div>
              <span class="value-label"> Группа:</span><div class="value value-date"><%- member.group %></div>
              <span class="value-label"> Курс: </span><div class="value value-passport-series"><%- member.year %></div>
            </td>
          </tr>

          <tr class="border_lr">
            <td class="head">
              Электронный адресс:
            </td>
            <td>
                <div class="value"><%- member.email %></div>
            </td>
          </tr>

          <tr class="border_lr">
            <td class="head">
              Телефон:
            </td>
            <td>
                <div class="value"><%- member.phone %></div>
            </td>
          </tr>

          <tr class="border_lr">
            <td class="head">
              Паспорт:
            </td>
            <td class="issued">
              <span class="value-label">серия </span><div class="value value-passport-series"><%- member.passport.series %></div>
              <span class="value-label">№</span><div class="value value-passport-series"><%- member.passport.number %></div>
              <span class="value-label">дата выдачи: </span><div class="value value-date"><%- member.passport.issuedDate %></div>
            </td>
          </tr>
          <tr class="border_bottom">
            <td colspan="2">
              <span class="value-label">выдан: </span><font class="value value-issued"><%- member.passport.issued %></font>
            </td>
          </tr>
        <% }); %>

      </table>
    </div>
    <% }); %>
  </body>
</html>
