<% layout('/layout/page') -%>
<% block('title', 'Admin/users'); -%>

  <!-- post -->
  <div class="blog-post">
    <div class="panel panel-default">
      <div class="panel-heading">Зарегистрированные пользователи:</div>

      <div class="panel-body" >
        <pre> <%- reg_users %> </pre>
      </div>

    </div>
  </div>
  <!-- post -->
