<% layout('/layout/page') -%>
<% block('title', "Ошибка") -%>

<div class="blog-post">
  <div class="panel panel-default">
    <div class="panel-heading center-text">
      <h2 class="blog-post-title"><b>Произошла ошибка:</b></h2>
    </div>

    <div class="panel-body post text-justify indent">
      <p class="lead"><strong><%=error.message%></strong></p>
    </div>
  </div>
</div>
