<% layout('/layout/page') -%>
<% block('title', 'Osipovsky Cup'); -%>

          <div class="blog-post">
            <div class="panel panel-default panel-carusel">
              <div class="panel-body post post-carusel">

                <div id="yearCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#yearCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#yearCarousel" data-slide-to="1"></li>
                    <li data-target="#yearCarousel" data-slide-to="2"></li>
                    <li data-target="#yearCarousel" data-slide-to="3"></li>
                    <li data-target="#yearCarousel" data-slide-to="4"></li>
                    <li data-target="#yearCarousel" data-slide-to="5"></li>
                    <li data-target="#yearCarousel" data-slide-to="6"></li>
                    <li data-target="#yearCarousel" data-slide-to="7"></li>
                    <li data-target="#yearCarousel" data-slide-to="8"></li>
                    <li data-target="#yearCarousel" data-slide-to="9"></li>
                    <li data-target="#yearCarousel" data-slide-to="10"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="active item">
                      <div class="carousel-caption"><h3>KIT-2007</h3></div>
                      <img class="img-rounded" src="/images/carusel/2007.jpg">
                    </div>
                    <div class="item">
                      <div class="carousel-caption"><h3>KIT-2008</h3></div>
                      <img class="img-rounded" src="/images/carusel/2008.jpg">
                    </div>
                    <div class="item">
                      <div class="carousel-caption"><h3>KIT-2009</h3></div>
                      <img class="img-rounded" src="/images/carusel/2009.jpg">
                    </div>
                    <div class="item">
                      <div class="carousel-caption"><h3>KIT-2010</h3></div>
                      <img class="img-rounded" src="/images/carusel/2010.jpg">
                    </div>
                    <div class="item">
                      <div class="carousel-caption"><h3>Osipovsky Cup - 2011</h3></div>
                      <img class="img-rounded" src="/images/carusel/2011.jpg">
                    </div>
                    <div class="item">
                      <div class="carousel-caption"><h3>Osipovsky Cup - 2012</h3></div>
                      <img class="img-rounded" src="/images/carusel/2012.jpg">
                    </div>
                    <div class="item">
                      <div class="carousel-caption"><h3>Osipovsky Cup - 2013</h3></div>
                      <img class="img-rounded" src="/images/carusel/2013.jpg">
                    </div>
                    <div class="item">
                      <div class="carousel-caption"><h3>Osipovsky Cup - 2014</h3></div>
                      <img class="img-rounded" src="/images/carusel/2014.jpg">
                    </div>
                    <div class="item">
                      <div class="carousel-caption"><h3>Osipovsky Cup - 2016</h3></div>
                      <img class="img-rounded" src="/images/carusel/2016.jpg">
                    </div>
                    <div class="item">
                      <div class="carousel-caption"><h3>Osipovsky Cup - 2017</h3></div>
                      <img class="img-rounded" src="/images/carusel/2017.jpg">
                    </div>
                    <div class="item">
                      <div class="carousel-caption"><h3>Osipovsky Cup - 2018</h3></div>
                      <img class="img-rounded" src="/images/carusel/2018.jpg">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="blog-post">
            <div class="panel panel-default">
              <div class="panel-heading center-text">
                <a href="/regulations"><h2 class="blog-post-title"><b>Result: «Osipovsky Cup – 2018»!</b></h2></a>
              </div>

              <div class="panel-body post text-justify indent">
                <p> Завершилась XI международная открытая олимпиада по программированию «Osipovsky Cup - 2018»:</p>
                <p> Поздравляем команды победилей:
                  <ol>
                    <li><b>Yaroslavl SU Owls</b>: Anastasia Toropova, Roman Gibadulin, Egor Medvedev</li>
                    <li><b>CRDO-Ivanovo</b>: Golubev Nikita, Shishihin Pavel, Titov Artem</li>
                    <li><b>RSATU</b>: Daniil Spirov, Mikhail Smirnov, Katskov Pavel</li>
                  </ol>
                </p>
                <div class="center-text"><a href="/final_tables/2018"> >>> Таблица результатов <<< </a></div>
                <img class="img-round" src="/images/2018.jpg" width="100%">
                <h4><small class="pull-right">25.02.2018</small></h4>
              </div>
            </div>
          </div>

          <div class="blog-post">
            <div class="panel panel-default">
              <div class="panel-heading center-text">
                <a href="/regulations"><h2 class="blog-post-title"><b>Result: «Osipovsky Cup – 2017»!</b></h2></a>
              </div>

              <div class="panel-body post text-justify indent">
                <p> Завершилась X международная открытая олимпиада по программированию «Osipovsky Cup - 2017»:</p>
                <p> Поздравляем команды победилей:
                  <ol>
                    <li><b>Moscow IPT MMS</b>: Mikhail Mosyagin, Mikhail Makarov, Stepan Kalinin</li>
                    <li><b>Moscow IPT MUR</b>: Murzin Dmitry, Ulyanin Dmitry, Romanenko Ilya</li>
                    <li><b>Yaroslavl SU 1</b>: Kirill Dehterev, Tatiana Prozorova, Anna Prozorova</li>
                  </ol>
                </p>
                <div class="center-text"><a href="/final_tables/2017"> >>> Таблица результатов <<< </a></div>
                <img class="img-round" src="/images/2017.png" width="100%">
                <h4><small class="pull-right">27.03.2017</small></h4>
              </div>
            </div>
          </div>

          <div class="blog-post">
            <div class="panel panel-default">
              <div class="panel-heading center-text">
                <a href="/regulations"><h2 class="blog-post-title"><b>«Osipovsky Cup – 2017»</b></h2></a>
              </div>

              <div class="panel-body post text-justify indent">
                <p>
                  Организаторы рады приветствовать вас на Х международной открытой олимпиады по программированию
                  «Osipovsky Cup - 2017», имени Федора Тимофеевича Осиповского. Олимпиада проводится при поддержке
                  Департамента образования Владимирской области.
                </p><p>
                  Программирование – неотъемлемая часть современного представления о развитии человечества.
                  Мы приглашаем опробовать ваши навыки в этой среде. Цель данного мероприятия сосредоточена
                  на выявлении развивающегося и перспективного персонала. Вы же, в свою очередь, получите
                  полноценный опыт участия в соревнованиях по спортивному программированию, который, возможно, позволит вам выйти на
                  более высокий уровень.
                </p><p>
                  Мы рады приветствовать вас на нашей олимпиаде!
                </p>
                <h4><small class="pull-right">02.03.2017</small></h4>
              </div>
            </div>
          </div>
