<% layout('/layout/page') -%>
<% block('title', 'Гостиницы'); -%>

          <div class="blog-post">
            <div class="panel panel-default">
              <div class="panel-heading center-text">
                <h2 class="blog-post-title"><b>Гостиницы:</b></h2>
              </div>

              <div class="panel-body post">
                <div class="list-group" style="margin-bottom: 5px;">
                  <% hotels.forEach( function(hotel) { %>
                    <li class="list-group-item">
                      <%- hotel.name %> <br/>
                      <%- hotel.address %> <br/>
                      <%- hotel.phone %> <br/>
                      <a href="<%- hotel.site %>" target="_blank"><%- hotel.site %></a> <br/>
                      Цена за номер от: <%- hotel.cost %> руб. <br/>
                    </li>
                  <% }); %>
                </div>
                <div class="well well-map">
                  <div id="map" style="width: 100%; height: 600px"></div>
                </div>

                <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
                <script type="text/javascript"> var hotels = <%- JSON.stringify(hotels) %>; </script>
                <script src="/js/map.js" type="text/javascript"></script>
              </div>
            </div>
          </div>
