<% layout('/layout/page') -%>
<% block('title', 'Регистрация'); -%>

<div class="blog-post">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Регистрация:</h2>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" name="registration-form">
      <div class="form-group" id="div-reg-username">
        <label for="input-username" class="col-lg-3 control-label">Username</label>
        <div class="col-lg-8 input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input name="username" type="username" class="form-control" id="input-username" placeholder="Имя пользователя" required autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="input-email" class="col-lg-3 control-label">Email</label>
        <div class="col-lg-8 input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input name="email" type="email" class="form-control" id="input-email" placeholder="example@mail.ru" required>
        </div>
      </div>
      <div class="form-group">
        <label for="input-password" class="col-lg-3 control-label">Password</label>
        <div class="col-lg-8 input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
          <input name="password" type="password" class="form-control" id="input-password" placeholder="Пароль" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-7 col-lg-4" style="padding: 0px;">
          <button type="submit" class="btn btn-primary" style="width: 100%">Зарегистрироваться</button>
          <span class="help-block error"></span>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

<script src="/js/auth/reg.js"></script>
