<% layout('/layout/page') -%>
<% block('title', 'Регламент'); -%>

<div class="blog-post">
  <div class="panel panel-default">
    <div class="panel-heading center-text">
      <a href="/files/Osipovsky_Cup-2018.pdf" target="_blank"><h2 class="blog-post-title"><b>«Osipovsky Cup – 2018»<span class="label label-success">PDF</span></b></h2></a>
    </div>

    <div class="panel-body post text-justify indent">

      <p>
      Оргкомитет одиннадцатой международной открытой олимпиады по
      программированию им. Т.Ф. Осиповского «Osipovsky Cup – 2018» при поддержке
      Департамента развития предпринимательства торговли и сферы услуг
      администрации Владимирской области приглашает команду Вашей организации
      принять участие в командной олимпиаде по программированию, которая
      пройдет предварительно с 23 февраля по 25 февраля в стенах ГАУ Владимирской
      области «Бизнес-Инкубатор» (г. Ковров, ул. Першутова, д. 16) <a href="http://vladbi.ru/">http://vladbi.ru/</a>.
      </p><p>
      Олимпиада «Osipovsky Cup - 2018» – в этом году олимпиада посвящена
      240-летию основания города Коврова.
      </p><p>
      Председатель оргкомитета олимпиады – генеральный директор
      ООО "ПиКей Групп" Красноперов Илья Сергеевич
      </p><p>
      Зам. председателя олимпиады – Багаев Дмитрий Викторович.
      </p><p>
      На соревнованиях будут доступны следующие языки программирования
      C/C++, C#, Object Pascal, Java. Если вы не нашли желаемый язык
      программирования в списке, пожалуйста напишите нам на почту. Конкретные
      версии будут уточнены дополнительно при согласовании с оргкомитетом
      олимпиады. Оргкомитет оставляет за собой право вносить уточнения и
      дополнения непринципиального характера.
      </p>
      <h3>Оргвзнос.</h3>
      <table class="table">
        <tr><td>Полное наименование огранизации:</td><td>Общество с ограниченной ответственностью "ЦИТРОС"</td></tr>
        <tr><td>Сокращенное наименование огранизации:</td><td>ООО "ЦИТРОС"</td></tr>
        <tr><td>ИНН:</td><td>3317026934</td></tr>
        <tr><td>КПП:</td><td>331701001</td></tr>
        <tr><td>Расчетный счет получателя:</td><td>40702810610000006423</td></tr>
        <tr><td>Наименование банка:</td><td>Дополнительный офис № 8611\0231 Владимирского отделения № 8611 ПАО Сбербанк</td></tr>
        <tr><td>БИК:</td><td>041708602</td></tr>
        <tr><td>ОКПО:</td><td>19154438</td></tr>
        <tr><td>ОКВЭД:</td><td>23.99, 26.20, 22.29, 22.23, 79.90.2, 70.90.1, 79.12, 85.41.9</td></tr>
        <tr><td>ОГРН:</td><td>1173328011230</td></tr>
        <tr><td>Адрес:</td><td>601900, г.Ковров, ул.Першутова, д.16, оф.2.30</td></tr>
        <tr><td>E-mail:</td><td>osipovsky@citros.info</td></tr>
        <tr><td>Web-сайт:</td><td>http://осиповский.ковровъ.рф/</td></tr>
      </table>
      <h3>Сроки проведения: 23 - 25 февраля 2018 года</h3>
      <table class="table">
        <tr><td>23 февраля (пятница)</td><td>день заезда, регистрация участников, экскурсия</td></tr>
        <tr><td>24 февраля (суббота)</td><td>торжественное открытие, выступление представителей спонсоров, пробный тур (разминка)</td></tr>
        <tr><td>25 февраля (воскресенье)</td><td>основной тур, подведение итогов, награждение победителей, день отъезда</td></tr>
      </table>
      <p>
      Состав команды: в основной состав команды входят 3 участника
      (подробные правила изложены на <a href="https://neerc.ifmo.ru/information/contestrules.html">https://neerc.ifmo.ru/information/contestrules.html</a>).
      Кроме того, в состав команды могут быть дополнительно включены
      руководитель команды, тренер и запасной участник. Участники команды
      должны в достаточной мере (для понимания текстов задач и вопросов жюри)
      владеть английским языком. Участниками от команды могут быть студенты
      университета, сотрудник организации до 35 лет.
      </p>
      <h3>Оргвзнос.</h3>
      <p>
      Оргвзнос в сумме 3000 руб. (за одну команду) необходимо перечислить на счет:
      </p>
      <h4>Проезд, проживание и питание за счет направляющей стороны.</h4>
      <p>
      Для участия в олимпиаде необходимо зарегистрироваться на сайте до 20-го
      февраля (предварительные заявки на почту приветствуются). Регистрация на
      сайте будет открыта не позднее 12 февраля. Так же до 20-го числа необходимо
      на сайте прикрепить копию платежного поручения об оплате организационного
      взноса.
      </p>
      <h4>Регистрация участников:</h4>
      <p>23 февраля в холле ГАУ «Бизнес-Инкубатор» Владимирской области
      (ул. Першутова, д. 16).
      </p>

      <h4>Контакты:</h4>
      <p>&nbsp;+79607218811 (моб.), +79660979423 (моб.) – Багаев Дмитрий Викторович</p>
      <p>&nbsp;e-mail: osipovsky@citros.info</p>
      <p>&nbsp;Web-сайт: <a href="http://осиповский.ковровъ.рф/">http://осиповский.ковровъ.рф/</a></p>

    </div>
  </div>
</div>
