<% layout('/layout/page') -%>
<% block('title', 'Osipovsky-Cup'); -%>

  <!-- post -->
  <div class="blog-post">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <b>Внимание!</b><br/>
        В связи с ужесточением требований Роскомнадзора по <b>Федеральному закону "О персональных данных" от 27.07.2006 N 152-ФЗ</b> для регистрации команды необходимо заполнить и прикрепить <b>скан согласия на обработку персональных данных</b> тренера и всех участников!
        <a href="/files/Personal_data.pdf" target="_blank"><b>[Согласие.pdf]</b></a>
        <a href="/dashboard/personaldata" class="btn btn-danger btn-xs"><b>Прикрепить</b></a>
      </div>
    </div>


    <div class="panel panel-default">

      <div class="panel-body">
        <p class="lead">Добро пожаловать, <b><%=user.get('username')%></b>!</p>

        <div class="panel panel-primary" style="margin: 0px;">
          <div class="panel-heading">Ваши команды:</div>

          <div class="panel-body">
            <div class="list-group" style="margin-bottom: 5px;">
              <% teams.forEach( function(team, i, arr) { %>
                <button class="list-group-item list-group-item-info team-spoiler-trigger" >
                  <span class="glyphicon glyphicon-briefcase"></span>
                  <%- team.team_name %>
                </button>

                <ul class="list-group collapse out" style="margin-bottom: -1px;">
                  <li class="list-group-item"> <%- team.organization.name %> </li>
                  <li class="list-group-item"> <%- team.team_IDE %> </li>
                  <div class="collapse out">
                    <li class="list-group-item"> <%- team.organization.fullname %> </li>
                    <li class="list-group-item"> <%- team.organization.address %> </li>
                    <li class="list-group-item"> <%- team.organization.email %> </li>
                  </div>
                  <li class="list-group-item"> <%- team.coach.name_eng %> (<%- team.coach.name_rus %>) </li>
                  <div class="collapse out">
                    <li class="list-group-item"> <%- team.coach.post %>     </li>
                    <li class="list-group-item"> <%- team.coach.address %>  </li>
                    <li class="list-group-item"> <%- team.coach.email %>    </li>
                    <li class="list-group-item"> <%- team.coach.phone %>    </li>
                    <li class="list-group-item">
                      <div class="well">
                        <%- team.coach.passport.series %> <%- team.coach.passport.number %></br>
                        <%- team.coach_passport_birthDate %>
                        <%- team.coach.passport.birthDate %></br>
                        <%- team.coach.passport.issued %></br>
                        <%- team.coach.passport.issuedDate %></br>
                      </div>
                    </li>
                  </div>
                  <li class="list-group-item">
                    <div class="btn-group btn-group-sm">
                      <button class="btn btn-default details-spoiler-trigger"><span class="glyphicon glyphicon-th-list"></span> Подробнее </button>
                      <button onclick="location.href='/dashboard/team/<%- team._id %>/addMember'" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить участника</button>
                      <button onclick="location.href='/dashboard/editTeam/<%- team._id %>'"  class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Редактировать команду</button>
                      <button onclick="clac('removeTeam','<%- team._id %>')"                 class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Удалить команду</button>
                    </div>
                  </li>
                  <li class="list-group-item">
                    Участники:
                    <div class="list-group">
                      <% team.members.forEach( function(member) { %>
                      <a class="list-group-item list-group-item-info spoiler-trigger" > <%- member.name_eng %> (<%- member.name_rus %>)
                        <div class="btn-group btn-group-xs pull-right">
                          <button class="btn btn-default glyphicon glyphicon-th-list member-spoiler-trigger"></button>
                          <button onclick="location.href='/dashboard/team/<%- team._id %>/editMember/<%- member._id %>'" class="btn btn-default glyphicon glyphicon-pencil"></button>
                          <button onclick="clac('removeMember','<%- team._id %>','<%- member._id %>')" class="btn btn-default glyphicon glyphicon-remove"></button>
                        </div>

                        <br/>
                        <div class="well collapse out" style="magrin: 0px; padding: 1px;">
                          <%- member.passport.birthDate %></br>
                          <%- member.faculty %>, <%- member.group %>, <%- member.year %></br>
                          <%- member.email %></br>
                          <%- member.phone %></br>
                          <%- member.passport.series %> <%- member.passport.number %></br>
                          <%- member.passport.issued %></br>
                          <%- member.passport.issuedDate %></br>
                        </div>
                      </a>
                      <% }); %>
                    </div>
                  </li>
                </ul>
              <% }); %>
            </div>

            <div class="btn-group btn-group-sm pull-right">
              <a href="/dashboard/personaldata" class="btn btn-info" role="button">
                <span class="glyphicon glyphicon-file"></span>
                Прикрепить согласие
              </a>
              <a href="/dashboard/addTeam" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-plus"></span>
                Добавить
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- post -->

  <script src="/js/teams/dashboard.js"></script>

  <script>
  $(".team-spoiler-trigger").click(function() {
    $(this).next().collapse('toggle');
  });

  $(".member-spoiler-trigger").click(function() {
    $(this).parent().next().next().collapse('toggle');
  });

  $(".details-spoiler-trigger").click(function() {
    $(this).parent().parent().prev().collapse('toggle');
    $(this).parent().parent().prev().prev().prev().collapse('toggle');
  });
  </script>
