<% layout('/layout/page') -%>
<% if (flag == "edit") { %>
  <% block('title', 'Редактировать участника'); -%>
<% } else { %>
  <% block('title', 'Добавить участника'); -%>
<% } %>

<div class="blog-post">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <% if (flag == "edit") { %>
        <h2 class="panel-title">Редактировать участника - <b><%- member.name_eng %></b>:</h2>
      <% } else { %>
        <h2 class="panel-title">Добавить участника в команду - <b><%- team.team_name %></b>:</h2>
      <% } %>
    </div>

    <div class="panel-body">
      <form class="form" name="form-member">
        <div class="form-group" id="div-name_eng">
          <label for="name_eng">Имя, Фамилия участника (англ.):</label>
          <input type="text" class="form-control" placeholder="Ivan Ivanov" name="name_eng" id="name_eng" required autofocus <% if (flag == "edit") { %> value="<%-  member.name_eng %>" <% }%> >
        </div>

        <div class="form-group">
          <label for="name_rus">Ф.И.О участника (рус.):</label>
          <input type="text" class="form-control" placeholder="Иванов Иван Иванович" name="name_rus" id="name_rus" <% if (flag == "edit") { %> value="<%-  member.name_rus %>" <% }%> >
        </div>

        <label>Информация:</label>

          <div class="well">
            <div class="form-group">
              <label for="birthDate">Дата рождения:</label>
              <input type="date" class="form-control" placeholder="01.02.2003" name="passport_birthDate" id="passport_birthDate" <% if (flag == "edit") { %> value="<%- member.passport.birthDate %>" <% }%> >
            </div>

            <div class="form-horizontal form-group">
              <label for="faculty" class="col-md-2 control-label">Факультет:</label>
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Информационных Технологий" name="faculty" id="faculty" <% if (flag == "edit") { %> value="<%- member.faculty %>" <% }%>>
              </div>

              <label for="group" class="col-md-1 control-label">Группа:</label>
              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="УС-113" name="group" id="group" <% if (flag == "edit") { %> value="<%- member.group %>" <% }%>>
              </div>

              <label for="year" class="col-md-1 control-label">Курс:</label>
              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="3" name="year" id="year" <% if (flag == "edit") { %> value="<%- member.year %>" <% }%>>
              </div>
            </div><br/><br/>


          <div class="form-group">
            <label for="address">Адрес:</label>
            <textarea type="text"class="form-control" placeholder="601900, Россия, Владимирская обл., г. Ковров, ул. Маяковского, 19/3, кв.16" rows="3" name="address" id="address"><% if (flag == "edit") { %><%- member.address %><% }%></textarea>
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="example@example.ru" name="email" id="email" <% if (flag == "edit") { %> value="<%- member.email %>" <% }%> >
          </div>

          <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="phone" class="form-control" placeholder="89876543210" name="phone" id="phone" <% if (flag == "edit") { %> value="<%- member.phone %>" <% }%> >
          </div>
        </div>

        <div class="well">

          <label>Паспорт:</label>
          <div class="well" style="background-color: #ddd;">
            <div class="form-horizontal form-group">
              <label for="sch_passport_series" class="col-sm-1 control-label">Серия:</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="17 10" name="passport_series" id="passport_series" <% if (flag == "edit") { %> value="<%- member.passport.series %>" <% }%>>
              </div>

              <label for="sch_passport_number" class="col-sm-1 control-label">Номер:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="000000" name="passport_number" id="passport_number" <% if (flag == "edit") { %> value="<%- member.passport.number %>" <% }%>>
              </div>
            </div><br/><br/>

            <div class="form-group">
              <label for="sch_passport_issued">Выдан:</label>
              <textarea type="text"class="form-control" placeholder="ОУФМС..." rows="2" name="passport_issued" id="passport_issued"><% if (flag == "edit") { %><%- member.passport.issued %><% }%></textarea>
            </div>
            <div class="form-group">
              <label for="sch_passport_issuedDate">Дата выдачи:</label>
              <input type="date" class="form-control" placeholder="01.02.2003" name="passport_issuedDate" id="passport_issuedDate" <% if (flag == "edit") { %> value="<%- member.passport.issuedDate %>" <% }%>>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-8 col-sm-4" style="padding: 0px;">
            <button type="submit" class="btn btn-primary" style="width: 100%">
              <% if (flag == "edit") { %>
                Сохранить
              <% } else { %>
                Создать
              <% } %>
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  var role = "<%- flag %>";
  var TID = "<%- _tid %>";
<% if (flag == "edit") { %>
  var MID = "<%- _mid %>";s
<% } %>
</script>
<script src="/js/teams/member.js" type="text/javascript"></script>
