<% layout('/layout/page') -%>
<% block('title', 'Загрузить согласие'); -%>

<div class="blog-post">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <b>Внимание!</b><br/>
      В связи с ужесточением требований Роскомнадзора по <b>Федеральному закону "О персональных данных" от 27.07.2006 N 152-ФЗ</b> для регистрации команды необходимо заполнить и прикрепить <b>скан согласия на обработку персональных данных</b> тренера и всех участников!
      <a href="/files/Personal_data.pdf" target="_blank"><b>[Согласие.pdf]</b></a>
    </div>
  </div>
  <br/>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Согласия:</h2>
    </div>

    <div class="panel-body">
      Ваши согласия:
      <div class="list-group">
        <% agreements.forEach(function(agreement) { %>
          <li class="list-group-item">
            <a href="/dashboard/agreement/<%- agreement._id %>/">
               <%- agreement.originalname.replace(',', '.') %></a>
            <div class="btn-group btn-group-xs pull-right">
              <form class="form" name="addfile-form" method="POST" enctype="multipart/form-data" action="/dashboard/agreement/<%- agreement._id%>/remove">
                <button type="submit" class="btn btn-xs btn-default glyphicon glyphicon-remove"></button>
              </form>
            </div>
          </li>
        <% }); %>
      </div>
      <hr>

      <form class="form" name="addfile-form" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleInputFile">Загрузить на обработку персональных данных:</label>
          <input type="file" name="agreement" id="agreement">
          <p class="help-block">Прикрипете скан сюда (не более 5 МБ)</p>
          <button type="submit" class="btn btn-default">Отправить</button>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- //TODO ajax -->
