<% layout('/layout/page') -%>
<% block('title', 'Osipovsky Cup'); -%>

          <div class="blog-post">
            <div class="panel panel-default panel-carusel">
              <div class="panel-body post post-carusel">

                <link rel="stylesheet" type="text/css" href="/css/ejudge.css">

                <h2 class="center-text">Osipovsky Cup - 2017</h2>
                <p><b>Last success:</b> 04:38:24, Moscow IPT MMS: Kalinin, Mosyagin, Makarov, problem C<br>
                Last Submit: 04:59:50, Moscow IPT Quarks: Ivanov, Fedoriaka, Perminov, problem G<br></p>
                <table class="standings">
                <tr>
                <th class="stnd">Place</th><th class="stnd">Team name</th><th class="success" title="Two Paths">A<br><s>1/7</s></th><th class="success" title="Epic Battle">B<br><s>3/6</s></th><th class="success" title="Reachability">C<br><s>1/2</s></th><th class="success" title="Word">D<br><s>5/24</s></th><th class="success" title="Tournament">E<br><s>8/32</s></th><th class="success" title="Blackjack">F<br><s>9/39</s></th><th class="success" title="Conquerors">G<br><s>4/14</s></th><th class="success" title="Inverse LCS">H<br><s>3/15</s></th><th class="success" title="Quadrilateral">I<br><s>7/14</s></th><th class="success" title="Fill the Square">J<br><s>15/18</s></th><th class="success" title="Triangles">K<br><s>12/30</s></th><th class="stnd">Total</th><th class="stnd">Time</th><th class="stnd">Dirt</th><th class="stnd">SE</th><th class="stnd" title="Best place after solving next problem">Jump</th><th class="stnd" title="Time after last submit">Idle</th></tr>
                <tr class="stand01"><td class="stnd"><center>1.</center></td><td class="stnd">Moscow IPT MMS: Kalinin, Mosyagin, Makarov</td><td class="opener"><center>+<br><font size=1>3:33</font></center></td><td class="stnd"><center>+<br><font size=1>1:50</font></center></td><td class="opener"><center>+1<br><font size=1>4:39</font></center></td><td class="stnd"><center>+5<br><font size=1>2:45</font></center></td><td class="opener"><center>+<br><font size=1>0:24</font></center></td><td class="stnd"><center>+1<br><font size=1>1:44</font></center></td><td class="stnd"><center>+<br><font size=1>3:12</font></center></td><td class="stnd"><center>+<br><font size=1>1:59</font></center></td><td class="opener"><center>+<br><font size=1>0:37</font></center></td><td class="stnd"><center>+<br><font size=1>0:20</font></center></td><td class="opener"><center>+1<br><font size=1>0:27</font></center></td><td class="stnd">11</td><td class="stnd">1450</td><td class="stnd">42%</td><td class="stnd">0.59</td><td class="stnd">Same</td><td class="stnd">172</td></tr>
                <tr class="stand00"><td class="stnd"><center>2.</center></td><td class="stnd">Moscow IPT MUR: Murzin, Ulyanin, Romanenko</td><td class="stnd"><center><div title="WA 2">-3</div><font size=1>5:00</font>&nbsp;<font size=1 color="blue">2</font></center></td><td class="opener"><center>+<br><font size=1>0:48</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">2</font></center></td><td class="opener"><center>+<br><font size=1>2:04</font></center></td><td class="stnd"><center>+<br><font size=1>0:27</font></center></td><td class="stnd"><center>+3<br><font size=1>1:55</font></center></td><td class="stnd"><center>+1<br><font size=1>2:47</font></center></td><td class="opener"><center>+<br><font size=1>1:00</font></center></td><td class="stnd"><center>+<br><font size=1>1:53</font></center></td><td class="opener"><center>+<br><font size=1>0:05</font></center></td><td class="stnd"><center>+<br><font size=1>1:01</font></center></td><td class="stnd">9</td><td class="stnd">800</td><td class="stnd">30%</td><td class="stnd">0.51</td><td class="stnd">Same</td><td class="stnd">151</td></tr>
                <tr class="stand01"><td class="stnd"><center>3.</center></td><td class="stnd">Yaroslavl SU 1: Akhremenko, Kondakov, Toropova</td><td class="stnd"><center>-<br><font size="1" color="blue">3</font></center></td><td class="stnd"><center><div title="WA 2">-1</div><font size=1>4:45</font>&nbsp;<font size=1 color="blue">3</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">3</font></center></td><td class="stnd"><center>+<br><font size=1>2:14</font></center></td><td class="stnd"><center>+<br><font size=1>1:00</font></center></td><td class="stnd"><center>+4<br><font size=1>1:15</font></center></td><td class="opener"><center>+<br><font size=1>2:01</font></center></td><td class="stnd"><center>+1<br><font size=1>4:09</font></center></td><td class="stnd"><center>+4<br><font size=1>3:49</font></center></td><td class="stnd"><center>+<br><font size=1>0:06</font></center></td><td class="stnd"><center>+<br><font size=1>0:35</font></center></td><td class="stnd">8</td><td class="stnd">1089</td><td class="stnd">52%</td><td class="stnd">0.47</td><td class="stnd">Same</td><td class="stnd">166</td></tr>
                <tr class="stand00"><td class="stnd"><center>4.</center></td><td class="stnd">Vyatka SU: Prozorova_A, Prozorova_T, Dehterev</td><td class="stnd"><center>-<br><font size="1" color="blue">4</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">4</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">4</font></center></td><td class="stnd"><center>+1<br><font size=1>2:43</font></center></td><td class="stnd"><center>+<br><font size=1>0:43</font></center></td><td class="stnd"><center>+2<br><font size=1>4:10</font></center></td><td class="stnd"><center>+1<br><font size=1>3:38</font></center></td><td class="stnd"><center><div title="WA 6">-2</div><font size=1>4:29</font>&nbsp;<font size=1 color="blue">4</font></center></td><td class="stnd"><center>+<br><font size=1>3:22</font></center></td><td class="stnd"><center>+<br><font size=1>0:26</font></center></td><td class="stnd"><center>+<br><font size=1>0:44</font></center></td><td class="stnd">7</td><td class="stnd">1026</td><td class="stnd">36%</td><td class="stnd">0.43</td><td class="stnd">Same</td><td class="stnd">182</td></tr>
                <tr class="stand01"><td class="stnd"><center>5.</center></td><td class="stnd">Moscow IPT Quarks: Ivanov, Fedoriaka, Perminov</td><td class="stnd"><center><div title="WA 2">-2</div><font size=1>4:49</font>&nbsp;<font size=1 color="blue">4</font></center></td><td class="stnd"><center>+2<br><font size=1>3:27</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">4</font></center></td><td class="stnd"><center><div title="WA 15">-9</div><font size=1>4:23</font>&nbsp;<font size=1 color="blue">5</font></center></td><td class="stnd"><center>+1<br><font size=1>1:23</font></center></td><td class="opener"><center>+<br><font size=1>0:28</font></center></td><td class="stnd"><center><div title="TL 1">-1</div><font size=1>5:00</font>&nbsp;<font size=1 color="blue">4</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">4</font></center></td><td class="stnd"><center>+1<br><font size=1>0:45</font></center></td><td class="stnd"><center>+<br><font size=1>0:22</font></center></td><td class="stnd"><center>+<br><font size=1>0:41</font></center></td><td class="stnd">6</td><td class="stnd">506</td><td class="stnd">40%</td><td class="stnd">0.40</td><td class="stnd">4 (in 28)</td><td class="stnd">151</td></tr>
                <tr class="stand00"><td class="stnd"><center>6.</center></td><td class="stnd">Rybinsk SATU: Bolotin, Skrynnik</td><td class="stnd"><center>-<br><font size="1" color="blue">6</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">6</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">6</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">6</font></center></td><td class="stnd"><center>+<br><font size=1>1:21</font></center></td><td class="stnd"><center>+1<br><font size=1>0:44</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">6</font></center></td><td class="stnd"><center><div title="WA 4">-7</div><font size=1>4:59</font>&nbsp;<font size=1 color="blue">6</font></center></td><td class="stnd"><center>+2<br><font size=1>3:01</font></center></td><td class="stnd"><center>+<br><font size=1>0:26</font></center></td><td class="stnd"><center>+<br><font size=1>1:43</font></center></td><td class="stnd">5</td><td class="stnd">495</td><td class="stnd">37%</td><td class="stnd">0.32</td><td class="stnd">Same</td><td class="stnd">152</td></tr>
                <tr class="stand00"><td class="stnd"><center>7.</center></td><td class="stnd">Orel SU 1: Baranov, Vorobjov, Strygin</td><td class="stnd"><center><div title="WA 2">-1</div><font size=1>1:41</font>&nbsp;<font size=1 color="blue">6</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">6</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">6</font></center></td><td class="stnd"><center>+2<br><font size=1>4:29</font></center></td><td class="stnd"><center>+2<br><font size=1>2:47</font></center></td><td class="stnd"><center>+2<br><font size=1>3:43</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">6</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">6</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">6</font></center></td><td class="stnd"><center>+<br><font size=1>0:09</font></center></td><td class="stnd"><center>+2<br><font size=1>1:14</font></center></td><td class="stnd">5</td><td class="stnd">902</td><td class="stnd">61%</td><td class="stnd">0.35</td><td class="stnd">6</td><td class="stnd">182</td></tr>
                <tr class="stand01"><td class="stnd"><center>8.</center></td><td class="stnd">Yaroslavl SU 2: Fedulov, Lyutenkov, Maslenikov</td><td class="stnd"><center>-<br><font size="1" color="blue">8</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">8</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">8</font></center></td><td class="stnd"><center><div title="WA 9">-2</div><font size=1>4:58</font>&nbsp;<font size=1 color="blue">8</font></center></td><td class="stnd"><center>+<br><font size=1>1:23</font></center></td><td class="stnd"><center>+<br><font size=1>2:19</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">8</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">8</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">8</font></center></td><td class="stnd"><center>+<br><font size=1>0:13</font></center></td><td class="stnd"><center>+9<br><font size=1>3:01</font></center></td><td class="stnd">4</td><td class="stnd">596</td><td class="stnd">69%</td><td class="stnd">0.27</td><td class="stnd">Same</td><td class="stnd">153</td></tr>
                <tr class="stand00"><td class="stnd"><center>9.</center></td><td class="stnd">Yaroslavl SU 3: Gibadullin, Medvedev, Serebryakov</td><td class="stnd"><center>-<br><font size="1" color="blue">9</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">9</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">9</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">9</font></center></td><td class="stnd"><center><div title="WA 2">-2</div><font size=1>1:03</font>&nbsp;<font size=1 color="blue">9</font></center></td><td class="stnd"><center><div title="WA 2">-5</div><font size=1>4:48</font>&nbsp;<font size=1 color="blue">9</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">9</font></center></td><td class="stnd"><center><div title="WA 4">-2</div><font size=1>3:18</font>&nbsp;<font size=1 color="blue">9</font></center></td><td class="stnd"><center>+<br><font size=1>1:57</font></center></td><td class="stnd"><center>+<br><font size=1>0:08</font></center></td><td class="stnd"><center>+1<br><font size=1>1:12</font></center></td><td class="stnd">3</td><td class="stnd">217</td><td class="stnd">25%</td><td class="stnd">0.24</td><td class="stnd">Same</td><td class="stnd">163</td></tr>
                <tr class="stand00"><td class="stnd"><center>10.</center></td><td class="stnd">Orel SU 2: Tropnikov, Rudanovskiy, Stavtsev</td><td class="stnd"><center>-<br><font size="1" color="blue">9</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">9</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">9</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">9</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">9</font></center></td><td class="stnd"><center>+3<br><font size=1>3:10</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">9</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">9</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">9</font></center></td><td class="stnd"><center>+<br><font size=1>0:12</font></center></td><td class="stnd"><center>+<br><font size=1>3:31</font></center></td><td class="stnd">3</td><td class="stnd">473</td><td class="stnd">50%</td><td class="stnd">0.20</td><td class="stnd">9</td><td class="stnd">240</td></tr>
                <tr class="stand01"><td class="stnd"><center>11.</center></td><td class="stnd">Ivanovo SPU #1: Leush, Zaharichev, Adeeva</td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center><div title="WA 4">-2</div><font size=1>3:32</font>&nbsp;<font size=1 color="blue">11</font></center></td><td class="stnd"><center><div title="WA 2">-7</div><font size=1>4:38</font>&nbsp;<font size=1 color="blue">11</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center>+<br><font size=1>0:13</font></center></td><td class="stnd"><center>+<br><font size=1>1:00</font></center></td><td class="stnd">2</td><td class="stnd">73</td><td class="stnd">0%</td><td class="stnd">0.10</td><td class="stnd">Same</td><td class="stnd">173</td></tr>
                <tr class="stand01"><td class="stnd"><center>12.</center></td><td class="stnd">Kovrov-Signal: Skokov, Pronin, Lomakin</td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center><div title="WA 4">-3</div><font size=1>4:59</font>&nbsp;<font size=1 color="blue">11</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center><div title="WA 7">-7</div><font size=1>4:28</font>&nbsp;<font size=1 color="blue">11</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">11</font></center></td><td class="stnd"><center>+<br><font size=1>0:14</font></center></td><td class="stnd"><center>+5<br><font size=1>4:30</font></center></td><td class="stnd">2</td><td class="stnd">384</td><td class="stnd">71%</td><td class="stnd">0.10</td><td class="stnd">11</td><td class="stnd">152</td></tr>
                <tr class="stand00"><td class="stnd"><center>13.</center></td><td class="stnd">Kovrov STA #2: Potsetsuev, Pogonyaev, Enina</td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center><div title="WA 9">-14</div><font size=1>4:55</font>&nbsp;<font size=1 color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>+<br><font size=1>0:43</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd">1</td><td class="stnd">43</td><td class="stnd">0%</td><td class="stnd">0.00</td><td class="stnd">Same</td><td class="stnd">156</td></tr>
                <tr class="stand00"><td class="stnd"><center>14.</center></td><td class="stnd">Kovrov STA #3: Sidorenkov, Erdashev, Kalyuzhny</td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>+<br><font size=1>0:50</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd">1</td><td class="stnd">50</td><td class="stnd">0%</td><td class="stnd">0.00</td><td class="stnd">13</td><td class="stnd">401</td></tr>
                <tr class="stand00"><td class="stnd"><center>15.</center></td><td class="stnd">Raduga: Igoshev, Dorofeev, Raguzin</td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center><div title="WA 2">-2</div><font size=1>4:51</font>&nbsp;<font size=1 color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd"><center>+3<br><font size=1>1:10</font></center></td><td class="stnd"><center>-<br><font size="1" color="blue">13</font></center></td><td class="stnd">1</td><td class="stnd">130</td><td class="stnd">75%</td><td class="stnd">0.00</td><td class="stnd">13</td><td class="stnd">160</td></tr>
                <tr>
                <td class="stnd"></td><td class="stnd"><b>Submits sent:</b></td><td class="stnd"><b>7</b></td><td class="stnd"><b>6</b></td><td class="stnd"><b>2</b></td><td class="stnd"><b>24</b></td><td class="stnd"><b>32</b></td><td class="stnd"><b>39</b></td><td class="stnd"><b>14</b></td><td class="stnd"><b>15</b></td><td class="stnd"><b>14</b></td><td class="stnd"><b>18</b></td><td class="stnd"><b>30</b></td><td class="stnd"><b>201</b></td><td class="stnd"></td><td class="stnd"></td>
                </tr>
                <tr>
                <td class="stnd"></td><td class="stnd"><b>Accepted:</b></td><td class="stnd"><b>1</b><br>(14%)</td><td class="stnd"><b>3</b><br>(50%)</td><td class="stnd"><b>1</b><br>(50%)</td><td class="stnd"><b>5</b><br>(20%)</td><td class="stnd"><b>8</b><br>(25%)</td><td class="stnd"><b>9</b><br>(23%)</td><td class="stnd"><b>4</b><br>(28%)</td><td class="stnd"><b>3</b><br>(20%)</td><td class="stnd"><b>7</b><br>(50%)</td><td class="stnd"><b>15</b><br>(83%)</td><td class="stnd"><b>12</b><br>(40%)</td><td class="stnd"><b>68</b><br>(33%)</td><td class="stnd"></td><td class="stnd"></td>
                </tr>
                <tr>
                <td class="stnd"></td><td class="stnd"><b>Dirt:</b></td><td class="stnd"><b>0</b><br>(0%)</td><td class="stnd"><b>2</b><br>(40%)</td><td class="stnd"><b>1</b><br>(50%)</td><td class="stnd"><b>8</b><br>(61%)</td><td class="stnd"><b>3</b><br>(27%)</td><td class="stnd"><b>16</b><br>(64%)</td><td class="stnd"><b>2</b><br>(33%)</td><td class="stnd"><b>1</b><br>(25%)</td><td class="stnd"><b>7</b><br>(50%)</td><td class="stnd"><b>3</b><br>(16%)</td><td class="stnd"><b>18</b><br>(60%)</td><td class="stnd"><b>61</b><br>(47%)</td><td class="stnd"></td><td class="stnd"></td></tr>
                </table>

              </div>
            </div>
          </div>
