<% layout('/layout/page') -%>
<% block('title', 'Osipovsky Cup'); -%>

<div class="blog-post">
    <div class="panel panel-default panel-carusel">
        <div class="panel-body post post-carusel">

            <link rel="stylesheet" type="text/css" href="/css/ejudge.css">

<table width="100%" cellspacing="10" cellpadding="0" border="0"><tbody><tr>
    <td class="back" align="center" valign="top"><span id="ajax_contestscoreboardgrid"><!--?xml version="1.0" encoding="windows-1251"?-->
    <table width="100%" cellspacing="1" cellpadding="1" border="0"><tbody>
    <tr><td class="back" align="left" valign="middle" width="30%">
    </td>
    <td class="back" align="center" valign="middle" width="40%">
    <h1 style="font-size: 150%;">Osipovky Cup 2018</h1>
    </td>
    <td class="back" align="right" valign="middle" width="30%">
    </td></tr></tbody></table>
    <table class="print-table" width="100%" cellspacing="0" cellpadding="2" border="0"><tbody>
    <tr><td class="print-td" align="center" valign="middle" width="5%" rowspan="2"><b>R</b></td><td class="print-td" align="center" valign="middle" width="25%" rowspan="2"><b>Участник</b></td>
    <td class="print-td" align="center" valign="middle" width="5%"><b>A</b></td>
    <td class="print-td" align="center" valign="middle" width="5%"><b>C</b></td>
    <td class="print-td" align="center" valign="middle" width="5%"><b>D</b></td>
    <td class="print-td" align="center" valign="middle" width="5%"><b>G</b></td>
    <td class="print-td" align="center" valign="middle" width="5%"><b>J</b></td>
    <td class="print-td" align="center" valign="middle" width="5%"><b>K</b></td>
    <td class="print-td" align="center" valign="middle" width="5%"><b>M</b></td>
    <td class="print-td" align="center" valign="middle" width="5%"><b>N</b></td>
    <td class="print-td" align="center" valign="middle" width="5%"><b>O</b></td>
    <td class="print-td" align="center" valign="middle" width="5%"><b>P</b></td>
    <td class="print-td" align="center" valign="middle" width="5%"><b>Q</b></td>
    <td class="print-td" align="center" valign="middle" width="5%"><b>R</b></td>
    <td class="print-td" align="center" valign="middle" width="4%" rowspan="2"><b>+</b></td>
    <td class="print-td" align="center" valign="middle" width="6%" rowspan="2"><b>T</b></td></tr>
    <tr>
    <td class="print-td" align="center" valign="middle" width="5%"><span title="Three Arrays">Thre...</span></td>
    <td class="print-td" align="center" valign="middle" width="5%"><span title="Cover the Paths">Cove...</span></td>
    <td class="print-td" align="center" valign="middle" width="5%"><span title="Elevator">Elev...</span></td>
    <td class="print-td" align="center" valign="middle" width="5%"><span title="Berland Post">Berl...</span></td>
    <td class="print-td" align="center" valign="middle" width="5%"><span title="Subsequence Sum Queries">Subs...</span></td>
    <td class="print-td" align="center" valign="middle" width="5%"><span title="Consistent Occurrences">Cons...</span></td>
    <td class="print-td" align="center" valign="middle" width="5%"><span title="Rectangle">Rec...</span></td>
    <td class="print-td" align="center" valign="middle" width="5%"><span title="HTML Copypaste">HTML...</span></td>
    <td class="print-td" align="center" valign="middle" width="5%"><span title="Cybersecurity">Cybe...</span></td>
    <td class="print-td" align="center" valign="middle" width="5%"><span title="Bananas">Ban...</span></td>
    <td class="print-td" align="center" valign="middle" width="5%">Cities</td>
    <td class="print-td" align="center" valign="middle" width="5%"><span title="Recover The Permutation">Rec...</span></td>
    </tr>
    <tr><td class="print-td" align="center" valign="top" width="5%">
    <b>1</b>
    </td>
    <td class="print-td" align="left" valign="top" width="25%">Yaroslavl SU Owls</td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+6</b></span><br>
    <b>04:23</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -3<br>
    04:12<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -8<br>
    04:54<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:06</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:33</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>01:49</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:43</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:15</b><br></td>
    <td class="print-td" align="center" valign="top" width="4%">6</td>
    <td class="print-td" align="center" valign="top" width="6%">589</td>
    </tr>
    <tr><td class="print-td" align="center" valign="top" width="5%">
    <b>2</b>
    </td>
    <td class="print-td" align="left" valign="top" width="25%">CRDO-Ivanovo</td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -4<br>
    03:56<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:42</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -3<br>
    04:59<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>01:22</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>01:41</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:55</b><br></td>
    <td class="print-td" align="center" valign="top" width="4%">4</td>
    <td class="print-td" align="center" valign="top" width="6%">280</td>
    </tr>
    <tr><td class="print-td" align="center" valign="top" width="5%">
    <b>3</b>
    </td>
    <td class="print-td" align="left" valign="top" width="25%">RSATU</td>
    <td class="print-td" align="center" valign="top" width="5%">
    -3<br>
    02:58<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:36</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -3<br>
    04:59<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:32</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+9</b></span><br>
    <b>04:16</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>01:20</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="4%">4</td>
    <td class="print-td" align="center" valign="top" width="6%">584</td>
    </tr>
    <tr><td class="print-td" align="center" valign="top" width="5%">
    <b>4</b>
    </td>
    <td class="print-td" align="left" valign="top" width="25%">Vyatka SU</td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -1<br>
    03:17<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:18</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -4<br>
    04:53<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -2<br>
    02:26<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -1<br>
    03:58<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:40</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:31</b><br></td>
    <td class="print-td" align="center" valign="top" width="4%">3</td>
    <td class="print-td" align="center" valign="top" width="6%">89</td>
    </tr>
    <tr><td class="print-td" align="center" valign="top" width="5%">
    <b>5</b>
    </td>
    <td class="print-td" align="left" valign="top" width="25%">MIVLGU#1</td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:28</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>03:00</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+4</b></span><br>
    <b>04:36</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="4%">3</td>
    <td class="print-td" align="center" valign="top" width="6%">564</td>
    </tr>
    <tr><td class="print-td" align="center" valign="top" width="5%">
    <b>6</b>
    </td>
    <td class="print-td" align="left" valign="top" width="25%">Kovrov Bugs&amp;Kludges</td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+2</b></span><br>
    <b>00:46</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>02:26</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -2<br>
    03:41<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="4%">2</td>
    <td class="print-td" align="center" valign="top" width="6%">232</td>
    </tr>
    <tr><td class="print-td" align="center" valign="top" width="5%">
    <b>7</b>
    </td>
    <td class="print-td" align="left" valign="top" width="25%">KovrovSTA #2</td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:19</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+2</b></span><br>
    <b>04:03</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="4%">2</td>
    <td class="print-td" align="center" valign="top" width="6%">302</td>
    </tr>
    <tr><td class="print-td" align="center" valign="top" width="5%">
    <b>8</b>
    </td>
    <td class="print-td" align="left" valign="top" width="25%">Kovrov SCH#21</td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>00:16</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -3<br>
    03:17<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -1<br>
    02:05<br></td>
    <td class="print-td" align="center" valign="top" width="4%">1</td>
    <td class="print-td" align="center" valign="top" width="6%">16</td>
    </tr>
    <tr><td class="print-td" align="center" valign="top" width="5%">
    <b>9</b>
    </td>
    <td class="print-td" align="left" valign="top" width="25%">MIVLGU#2</td>
    <td class="print-td" align="center" valign="top" width="5%">
    -5<br>
    03:39<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -5<br>
    04:59<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    -1<br>
    02:55<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    <span class="larger"><b>+</b></span><br>
    <b>03:19</b><br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="5%">
    &nbsp;<br>
    &nbsp;<br></td>
    <td class="print-td" align="center" valign="top" width="4%">1</td>
    <td class="print-td" align="center" valign="top" width="6%">199</td>
    </tr>
    <tr><td class="print-td" align="right" valign="top" width="30%" colspan="2">Попыток</td>
    <td class="print-td" align="center" valign="top" width="5%">15</td>
    <td class="print-td" align="center" valign="top" width="5%">3</td>
    <td class="print-td" align="center" valign="top" width="5%">8</td>
    <td class="print-td" align="center" valign="top" width="5%">0</td>
    <td class="print-td" align="center" valign="top" width="5%">0</td>
    <td class="print-td" align="center" valign="top" width="5%">10</td>
    <td class="print-td" align="center" valign="top" width="5%">11</td>
    <td class="print-td" align="center" valign="top" width="5%">10</td>
    <td class="print-td" align="center" valign="top" width="5%">14</td>
    <td class="print-td" align="center" valign="top" width="5%">12</td>
    <td class="print-td" align="center" valign="top" width="5%">11</td>
    <td class="print-td" align="center" valign="top" width="5%">4</td>
    <td class="print-td" align="center" valign="top" width="10%" colspan="2"></td>
    </tr>
    <tr><td class="print-td" align="right" valign="top" width="30%" colspan="2">Из них зачтено</td>
    <td class="print-td" align="center" valign="top" width="5%">1</td>
    <td class="print-td" align="center" valign="top" width="5%">0</td>
    <td class="print-td" align="center" valign="top" width="5%">0</td>
    <td class="print-td" align="center" valign="top" width="5%">0</td>
    <td class="print-td" align="center" valign="top" width="5%">0</td>
    <td class="print-td" align="center" valign="top" width="5%">0</td>
    <td class="print-td" align="center" valign="top" width="5%">8</td>
    <td class="print-td" align="center" valign="top" width="5%">0</td>
    <td class="print-td" align="center" valign="top" width="5%">7</td>
    <td class="print-td" align="center" valign="top" width="5%">2</td>
    <td class="print-td" align="center" valign="top" width="5%">5</td>
    <td class="print-td" align="center" valign="top" width="5%">3</td>
    <td class="print-td" align="center" valign="top" width="10%" colspan="2"></td>
    </tr>
    <tr><td class="print-td" align="right" valign="top" width="30%" colspan="2">Не зачтено</td>
    <td class="print-td" align="center" valign="top" width="5%">14</td>
    <td class="print-td" align="center" valign="top" width="5%">3</td>
    <td class="print-td" align="center" valign="top" width="5%">8</td>
    <td class="print-td" align="center" valign="top" width="5%">0</td>
    <td class="print-td" align="center" valign="top" width="5%">0</td>
    <td class="print-td" align="center" valign="top" width="5%">10</td>
    <td class="print-td" align="center" valign="top" width="5%">3</td>
    <td class="print-td" align="center" valign="top" width="5%">10</td>
    <td class="print-td" align="center" valign="top" width="5%">7</td>
    <td class="print-td" align="center" valign="top" width="5%">10</td>
    <td class="print-td" align="center" valign="top" width="5%">6</td>
    <td class="print-td" align="center" valign="top" width="5%">1</td>
    <td class="print-td" align="center" valign="top" width="10%" colspan="2"></td>
    </tr>
    </tbody></table><br>
    </span>
    </td></tr></tbody></table>
    </div>
    </div>
    </div>