<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> TODO -->

    <title> <%=blocks.title%> </title>

    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
    <!-- <link rel="stylesheet" href="/css/debug.css"/> -->
    <!-- <link rel="stylesheet" href="/css/stickyFooter.css"/> -->

    <!-- [if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    [endif] -->
    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
  </head>

  <body>
    <div class="container">
      <a href="/">
      <header id="header">
        <%-partial('../partials/header')%>
      </header>
      </a>
    </div>

    <section class="container">
      <div class="row">
        <div class="col-sm-9 blog-main">
          <%-body -%>
        </div>
        <div class="col-sm-3 blog-sidebar">
          <%-partial('../partials/sidebar')%>
        </div>
      </div>
    </section>

    <div class="container">
      <footer id="footer">
        <div class="container">
          <%-partial('../partials/footer')%>
        </div>
      </footer>
    </div>

    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
